{% extends 'base.html' %}
{% block title %}饭友圈在线网{% endblock %}
{% load staticfiles %}

{% block custom_bread %}{% endblock %}

{% block custom_js %}
    <script type="text/javascript" src="/static/js/index.js"></script>
{% endblock %}

{% block content %}
    <div class="banner">
			<div class="wp">
				<div class="fl">
					<div class="imgslide">
						<ul class="imgs">
                            {% for banner in all_banners  %}
                            <li>
                                    <a>
                                        <img width="800" height="400"  src="/media/{{ banner.image }}" />
                                    </a>
                                </li>
                               {% endfor %}

						</ul>
					</div>
					<div class="unslider-arrow prev"></div>
					<div class="unslider-arrow next"></div>
				</div>

				</div>


			</div>
<!--banner end-->

<!--module1 start-->
	<section>
		<div class="module">
			<div class="wp">
				<div class="module1 eachmod">
					<div class="module1_1 left">
						<img width="228" height="614" src="/static/images/shu2.jpg"/>
						<p class="fisrt_word">热门圈子<br/>等你加入</p>
						<a class="more" href="{% url 'fandom:fandom_list' %}">查看更多圈子 ></a>
					</div>
					<div class="right group_list">
						<div class="module1_2 box">
							<div class="imgslide2">
								<ul class="imgs">
                                    {% for banner_fandom in banner_fandom %}
                                    <li>
                                        <a href="{% url 'fandom:fandom_home' banner_fandom.id %}">
                                            <img width="470" height="300" src="/media/{{ banner_fandom.image }}" />
                                        </a>
                                    </li>
                                    {% endfor %}


								</ul>
							</div>
							<div class="unslider-arrow2 prev"></div>
							<div class="unslider-arrow2 next"></div>
						</div>
                                {% for fandom in fandom %}
                            <div class="module1_{{ forloop.counter|add:2 }} box">
                                <a href="{% url 'fandom:fandom_home' fandom.id %}">
                                    <img width="233" height="190" src="/media/{{ fandom.image }}"/>
                                </a>
                                <div class="des">
                                    <a href="{% url 'fandom:fandom_home' fandom.id %}">
                                        <h2 title="hover">{{ fandom.q_name }}</h2>
                                    </a>
                                    <span class="fl">所属：<i class="key">{{ fandom.star }}</i></span>
                                    <span class="fr">点击数：{{ fandom.click_num }}</span>
                                </div>
                                <div class="bottom">
                                    <span class="fl" title={{fandom.desc}}>{{ fandom.add_time }}</span>
                                    <span class=" star fr  notlogin  " onclick="add_fav(this,{{ fandom.id }},4)">{{ fandom.fav_nums }}</span>
                                </div>
                            </div>
                              {% endfor %}


					</div>
				</div>
			</div>
		</div>
	</section>
<script type="text/javascript">
    //关注按钮
function add_fav(current_elem, fav_id, fav_type){
    $.ajax({
        cache: false,
        type: "POST",
        url:"{% url 'fandom:add_fav' %}",
        data:{'fav_id':fav_id, 'fav_type':fav_type},
        async: true,
        beforeSend:function(xhr, settings){
            xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
        },
        success: function(data) {
            if(data.status == 'fail'){
                if(data.msg == '用户未登录'){
                    window.location.href="/login";
                }else{
                    alert(data.msg)
                }

            }else if(data.status == 'cancelSuccess'){
                //current_elem.text(data.msg)
                alert('取消关注成功')


            }
            else if(data.status == 'success'){
                //current_elem.text(data.msg)
                alert('关注成功');
            }
        },
    });
}

$('.collectionbtn2').on('click', function(){
    alert({{ picture.id }})
    //add_fav($(this), {{ picture.id }}, 2);
});
</script>
{% endblock %}

