{% extends 'usercenter-base.html' %}
{% block title %}我的发表- 饭友圈在线网{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
<section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="{% url 'index' %}">首页</a>></li>
                <li>我的发表</li>
            </ul>
        </div>
    </section>

{% endblock %}

{% block left_content %}
	<div class="left">
        <ul>
            <li ><a href="{% url 'users:user_info' %}">个人资料</a></li>
            <li ><a href="{% url 'users:myfav_fandom' %}">我的圈子</a></li>
            <li ><a href="{% url 'users:myfav_video' %}">我的收藏</a></li>
            <li class="active2"><a href="{% url 'users:mypo_video' %}">我的发表</a></li>
        </ul>
	</div>
{% endblock %}

{% block right_content %}
    <div class="right" >
            <div class="personal_des Releasecont">
                <div class="head">
                    <h1>我的发表</h1>
                </div>
            </div>
            <div class="personal_des permessage">
                <div class="head">
                    <ul class="tab_header messagehead">
                       <li class="active"><a href="{% url 'users:mypo_video' %}">视频</a> </li>
                        <li><a href="{% url 'users:mypo_picture' %}">图片</a></li>
                        <li ><a href="{% url 'users:mypo_article' %}">帖子</a></li>
                        <li ><a href="{% url 'users:mypo_comment' %}">评论</a></li>
                    </ul>

                </div>
                <div class="companycenter">

                    <div class="group_list brief">
                         {% for po_video in po_video %}
                        <div class="module1_5 box">
                            <a>
                                <video width="214" height="190" controls>
                                    <source src="/media/{{ po_video.url }}"  type="video/mp4">
                                    您的浏览器不支持 HTML5 video 标签。
                                </video>
                            </a>
                            <div class="des">
                                <a><h2>{{ po_video.name }}</h2></a>
                                <span class="fl">所属粉丝圈：<i class="key">{{ po_video.q_name }}</i></span>
                                <span class="fr">点赞：{{ po_video.fav_nums }}</span>
                            </div>
                            <div class="bottom">
                                <span class="fl">{{ po_video.add_time }}</span>
                                <span class="delete-group fr jsDeleteFav_video" data-favid="{{ fav_video.id }}"></span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    </div>


{% endblock %}

